$primaryColor: #2B2C3A;
$btnColor: #6B69F9;
$titleColor: #FFFFFF;
$subtitleColor: #ffffff50;
$cartColor: rgba(255, 255, 255, 0.06);
$borderColor: rgba(255, 255, 255, 0.04);
;
$energyColor: #FF4738;
$green: #24CB8D;

body {
    font-family: Jost;
    padding: 0;
    color: white;
    background-color: $primaryColor;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);
    display: flex;
}

.menu {
    background: rgba(156, 165, 236, 0.04);
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: fixed;

    &__header {
        height: 72px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $borderColor
    }

    &__img {
        height: 37px;
        width: 138px;
    }

    &__select {
        padding-top: 30px; ////
        font-size: 14px;
        border-bottom: 1px solid $borderColor
    }

    &__wrapper {
        max-width: 220px;
        margin: 0 auto;
        display: block;
        align-items: center;
    }

    &__logo {}

    &__line {}

    &__nav {}

    &__ad-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &_padding-l-r {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 13px;
}

.accordion {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__ul {
        margin-top: 5px;
        padding-bottom: 25px;
    }

    &__li {
        display: flex;
        height: 40px;
        padding: 11px 0px 11px 50px;
        border-left: 3px solid transparent;

        cursor: pointer;

        &:hover {
            background-color: $borderColor;
            border-left: 3px solid #6F6EFF;

            .img-svg path,
            .img-svg {
                fill: #6F6EFF;
                opacity: 1;
            }

            .accordion__subtitle {
                opacity: 1;
            }
        }
    }

    &__img {
        margin-right: 24px;
    }

    .img-svg path,
    .img-svg {
        fill: rgba(255, 255, 255, 0.5);
        opacity: 1;
    }

    .closed,
    .open {
        width: 100%;
        margin-bottom: 10px;
    }

    &__subtitle {
        display: flex;
        align-items: center;
    }

    &__title {
        line-height: 20px;
        text-transform: uppercase;
    }
}

.content-header {
    display: flex;
    justify-content: space-between;

    &_padding {
        position: fixed;
        margin-left: 280px;
        padding-top: 14px;
        padding-bottom: 13px;
    }

    &__wrapper {
        padding-left: 55px;
        padding-right: 45px;
        width: 1160px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $borderColor;
        z-index: 10000;
    }

    &__settings {
        display: flex;
        width: 244px;
        justify-content: space-between;
        align-items: center;
        height: 24px;
        font-size: 14px;
    }

    &__setting {
        cursor: pointer;
    }

    &__wrapper-container {
        width: 504px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__line {
        border-left: 1px solid $cartColor;
        height: 100%;
        margin-left: 3px;
    }

    &__profile {
        display: flex;
        width: 298px;
        justify-content: space-between;
        align-items: center;
        color: $titleColor;
        font-size: 13px;
    }

    &__info {
        background-color: $cartColor;
        border-radius: 5px;
        padding: 7px 9px;
    }

    &__info-energy {
        display: flex;
        align-items: center;

        background-color: $cartColor;
        border-radius: 5px;
        padding: 4.5px 9px 4.5px 4.5px;
    }

    &__energy-square {
        background-color: $energyColor;
        border-radius: 4px;
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 12px 0px rgba(255, 71, 56, 0.5);
    }

    &__energy-img {}

    &__energy-text {
        margin-left: 10px;

        strong {
            font-style: bold;
        }

        span {
            font-size: 11px;
            color: $borderColor;
        }
    }

    &__account {
        display: flex;
        justify-content: space-between;
        color: $titleColor;
        width: 190px;
    }

    &__account-img {
        width: 44px;
        height: 44px;
    }

    &__container {
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        justify-content: space-between;
        width: 133px;
    }

    &__account-info {}

    &__account-name {
        font-size: 14px;
        margin-bottom: 5px;
    }

    &__account-status {
        display: flex;
        align-items: center;
    }

    &__status-circle {
        background: $green;
        border-radius: 50%;
        height: 6px;
        width: 5px;
        margin: 0 5px;
    }

    &__web-status {
        color: $green;
        font-size: 13px;
    }

    &__account-pro {
        padding: 2px 11px 2px 8px;
        background-color: $btnColor;
        border-radius: 4px;
        text-transform: uppercase;
        font-size: 11px;
        align-self: flex-start;
    }
}

.font14-opacity05 {
    line-height: 10px;
    opacity: 0.5;
    font-size: 14px;
}

.course {
    margin-top: 112px;
    margin-left: 335px;
    &__ul{
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__lectures {
        display: flex;
    }

    &__li {
        margin-bottom: 60px;
    }

    &__info {
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__level {
        margin-bottom: 7px;
        font-size: 11px;
        line-height: 16px;
        opacity: 0.5;
    }

    &__discipline {
        font-size: 22px;
        line-height: 18px;
    }

    &__lectures {
        height: 30px;
        display: flex;
        align-items: center;
        width: 160px;
        justify-content: space-between;
    }

    &__button {
        width: 86px;
        height: 100%;
    }

    &__arrows {
        display: flex;
        align-items: center;
        width: 65px;

        justify-content: space-between;
    }

    &__arrow {
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 4px;
        display: flex;
        cursor: pointer;

        .arrow {
            margin: 10px 10px;
            // margin: 10px;
        }
    }
}

.slick {
    max-width: 1052px;
    margin: 0 auto;
    overflow: hidden;

    &-slide {
        padding: 0 3px;
    }

    &-list {
        margin-left: -30px;
        margin-right: -30px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        height: 294px;
    }

    &__img {
        position: relative;
        text-align: center;

        img {
            width: 100%;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
    }

    &-item {
        border-radius: 6px;
        background: $borderColor;
        width: 255px !important;
    }

    &__title {
        margin-bottom: 5px;
    }

    &__subtitle {
        line-height: 18px;
        width: 215px;

    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__wrapper {
        height: 88px;
        border-bottom: 1px solid $borderColor
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_padding-text {
        padding: 15px;
    }

    &__button {
        background-color: rgba(107, 105, 249, 1);
        border-radius: 4px;
        border: 0px;
        color: white;
    }

    &_button-watch-padding {
        padding: 8px 18px;
    }

    &_button-text-style {
        font-size: 12px;
        line-height: 10px;
    }

    &_button-lecture-padding {
        padding: 5px;
    }

    &_button-pos {
        position: absolute;
        top: 15px;
        left: 15px;
    }
}