.arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-top {
    transform: rotate(-45deg);
}

.arrow-left {
    transform: rotate(-135deg);
}

.arrow-right {
    transform: rotate(45deg);
}

.arrow {
    width: 7px;
    height: 7px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    margin-right: 7px;
}